@model OAuch.ViewModels.EmptyViewModel
@using OAuch.Helpers
@using Microsoft.AspNetCore.Html
@using OAuch.Database.Entities
@using OAuch.ViewModels

<div class="row">
    <div class="col-12 col-lg-10 col-xl-8">
        <h1 class="display-4">Export site data</h1>
        <p>
            OAuch enables you to export your sites' data in JSON format for backup and automation purposes. This includes
            site settings, any optionally associated client certificates, and the complete test result history.
            Be aware that exported data may contain sensitive information such as client secrets, passwords, and
            private keys.
        </p>
        <p>Please select the sites you wish to export, and click the button below.</p>

        <div class="row">
            <div class="col-10 col-md-7 col-lg-5 col-xl-5">
                @using (Html.BeginForm("ExportAllData", "Dashboard", FormMethod.Post)) {
                    <div class="form-group">
                        <label>Exportable sites</label>
                        <select multiple="" class="form-control" id="SelectedSites" name="SelectedSites">
                            @if (Model.Sites != null && Model.Sites.Count > 0) {
                                foreach (var s in Model.Sites) {
                                    <option value="@s.SiteId" selected>@s.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <input type="submit" value="Export selected site(s)" class="btn btn-success" style="margin-left: 10px;" />
                }
            </div>
        </div>
    </div>
</div>
